@use '../configs/colors';
@use '../utils/screen';

.notifications-page {
    padding: 1.2rem 1rem;
    font-size: 0.9rem;
    background-color: colors.$neutral-white;
    max-width: 730px;

    &__header {
        width: 100%;
        margin-bottom: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 0.5rem;
        }

        .right {
            display: flex;
            align-items: center;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;
    }

    @include screen.respond-to('desktop') {
        height: max-content;
        border-radius: 20px;
        font-size: unset;
        padding: 2rem;

        h1 {
            font-size: 24px;
            margin-bottom: 0.5em;
        }

        img {
            height: 2.8rem;
        }

        &__content {
            row-gap: 0.5rem;
        }
    }
}