@use '../configs/colors';
@use '../configs/fonts';

a {
    color: inherit;
    font-weight: map-get(fonts.$weights, x-bold);
    text-decoration: none;

    &.user-name {
        color: colors.$neutral-very-dark-blue;
    }

    &:hover {
        color: colors.$primary-blue;
    }
}