@use '../configs/colors';
@use '../configs/fonts';

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr max-content;
    place-items: center;

    font: fonts.$main;
    color: colors.$neutral-dark-grayish-blue;

    background-color: colors.$neutral-very-light-grayish-blue;
}