@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

$families: (
    main: #{'Plus Jakarta Sans', sans-serif},
);

$weights: (
    medium: 500,
    x-bold: 800,
);

$paragraph: 16px map-get($weights, medium) map-get($families, main);